.headerContainer {
  /* background-color: #282c34; */
  /* height: 50px;
  color: white; */
  /* position: fixed; */
  /* top: 0; */
  /* bottom: 0; */
  /* right: 0;
  left: 0; */
  /* padding: 1rem; */
  /* padding: 1rem; */
  /* text-align: center; */
  /* margin-top: 5px; */
}
