.working {
  color: white;
  text-align: center;

}

.TWW_logo_main {
  padding-bottom: -100px ;
  margin-bottom: -100px ;
  z-index: -5;
  height: 90vmin;
  pointer-events: none;

  -webkit-filter: drop-shadow(1px 1px 0 black)
                drop-shadow(-1px -1px 0 white)
                drop-shadow(50px 30px 4px #000000);
  filter:drop-shadow(1px 1px 0 black)
         drop-shadow(-1px -1px 0 white)
         drop-shadow(50px 30px 4px #000000);

}

.announcement {
margin-bottom: 150px
  }
