.navigation {
  /* position: -webkit-sticky; */
  position: fixed;
  top: 50px;
  /* padding: 5px; */
  /* background-color: #cae8ca;
  border: 2px solid #4CAF50; */
  /* display: inline-block; */
  z-index: 100
  /* background-color: blue; */

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #9FCF67;
  min-width: 160px;
  -webkit-filter: drop-shadow(1px 1px 0 black)
                drop-shadow(-1px -1px 0 white)
                drop-shadow(50px 30px 4px #000000);
  filter:drop-shadow(1px 1px 0 black)
         drop-shadow(-1px -1px 0 white)
         drop-shadow(50px 30px 4px #000000);
  padding: 12px 16px;
  z-index: 100;
}

.navigation:hover .dropdown-content {
  display: block;
}

div.navigation2 {

    position: relative;
    top: 3vh;
    min-width: 75px;
    margin-left: 75px;
    padding: 105px;
    background-color: #cae8ca;
    border: 2px solid #4CAF50;

    z-index:1;


}

.TWW_logo_menu {
  /* position: -webkit-sticky; */
  position: fixed;
  top: 0;
  /* height: 60vmin; */
  pointer-events: initial;
  -webkit-filter: drop-shadow(1px 1px 0 black)
                drop-shadow(-1px -1px 0 white)
                drop-shadow(50px 30px 4px #000000);
  filter:drop-shadow(1px 1px 0 black)
         drop-shadow(-1px -1px 0 white)
         drop-shadow(50px 30px 4px #000000);
  z-index: 100;
}
