.navigation {
  position: fixed;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #9FCF67;
  min-width: 160px;
  box-shadow: 100px 80px 16px 20px rgba(0,0,0,0.8);
  /* padding: 12px 16px; */
  z-index: 1;
}

.navigation:hover .dropdown-content {
  display: block;
}

.navigation1 {
  left: 5px
}

.TWW_logo_menu {
  /* height: 60vmin; */
  pointer-events: none;
  -webkit-filter: drop-shadow(100px 10px 10px #000000 );
  filter: drop-shadow(50px 30px 4px #000000);
}
