.App {
  text-align: center;
}

body {
  /* opacity: 0.5; */
  background-color: #282c34;
  background-image: url("https://www.transparenttextures.com/patterns/tileable-wood-colored.png");
}

.TWW_logo_main {
  height: 60vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .TWW_logo_main {
    animation: TWW_logo_main-spin infinite 30s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.App-link {
  color: #61dafb;
}

@keyframes TWW_logo_main-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
